body {
   background-color: var(--bg-color);
    color: var(--text-color);
}

.card {
    border-radius: 15px;
    background-color: var(--card-bg);
    color: var(--card-text);
    border-radius: 15px;
    box-shadow: 0px 0px 15px var(--card-shadow);
}

.btn-primary {
    background-color: #1e88e5;
    border: none;
}

.btn-primary:hover {
    background-color: #1565c0;
}

.btn-danger {
    background-color: #e53935;
    border: none;
}

.btn-danger:hover {
    background-color: #c62828;
}

a {
    text-decoration: none;
}

.alert {
    border-radius: 10px;
}

body {
    background-color: #121212;
    color: #e0e0e0;
}

.form-control {
    background-color: #333333;
    color: #ffffff;
    border: none;
}

.form-control::placeholder {
    color: #b0b0b0;
}

select.form-control {
    background-color: #333333;
    color: #ffffff;
    border: none;
}

.col-12 {
    margin-bottom: 1rem;
}

.form-control:focus {
    border-color: #52887AFF;
    background-color: #444444;
    border: none;
    color: #ffffff;
    box-shadow: 0 0 0 0.25rem rgba(82, 136, 122, 0.25);
}

input[type="text"], select {
    border-radius: 5px;
}

label {
    color: #ffffff;
    font-size: 1rem;
}

.context-menu {
    position: absolute;
    display: none;
    background: #444444;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    padding: 5px;
    z-index: 1000;
    min-width: 100px;
    max-height: 45px;
}

.context-menu button {
    background: #de1111;
    border-radius: 20px;
    padding: 5px;
    color: white;
    text-align: center;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.context-menu button:hover {
    background: #b00;
    box-shadow: 0 0 0 0.25rem rgba(128, 0, 0, 0.25);
}

#login-page, #register-page {
    background: #1e1e1e;
}

#main-content {
    overflow-y: scroll; /* Enable scrolling */
    max-height: calc(100vh - 80px);
    padding-bottom: 80px;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
#main-content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
#main-content {
    scrollbar-width: none;
}

/* Hide scrollbar for IE/Edge */
#main-content {
    -ms-overflow-style: none;
}

#device-input1, #device-input2, #device-type {
    padding: 10px;
    border-radius: 15px;
}

#btn-add-device, #btn-login-submit, #btn-register-submit {
    background: #52887AFF;
    border-radius: 15px;
    padding: 10px;
    color: white;
    text-align: center;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#btn-add-device:hover, #btn-login-submit:hover, #btn-register-submit:hover {
    background: #3f6f64;
    box-shadow: 0 0 0 0.25rem rgba(82, 136, 122, 0.25);
}

#btn-log-out {
    background: #de1111;
    border-radius: 15px;
    padding: 10px;
    color: white;
    text-align: center;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#btn-log-out:hover {
    background: #b00;
    box-shadow: 0 0 0 0.25rem rgba(128, 0, 0, 0.25);
}

#device-card {
    box-shadow: none;
    border: none;
    transition: box-shadow 0.3s ease-in-out;
    background: #1e1e1e;
    cursor: pointer;
}

#device-card:hover {
    box-shadow: 0 0 15px rgb(82, 136, 122), 0 0 0 rgba(20, 143, 0, 0);
}

#card-title {
    text-align: center;
}

#appearance-menu, #account-menu, #about-menu, #help-menu{
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
}

#solar-1, #solar-2, #solar-3 {
    background: #1e1e1e;
    border-radius: 20px;
    text-align: center;
}

#link {
    color: #2fffc4;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

#link:hover {
    color: #41ad98;
    text-shadow: 0 0 0.25rem rgba(82, 136, 122, 0.6);
}

#show-ip-checkbox {
    scale: 1.4;
}

#navbar-bg {
    /*    make a blurred background*/
    z-index: 999;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#menu-item-1, #menu-item-2, #menu-item-3, #menu-item-4 {
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

#menu-item-1:hover, #menu-item-2:hover, #menu-item-3:hover, #menu-item-4:hover {
    color: #2fffc4;
    text-shadow: 0 0 15px rgba(0, 255, 188, 0.83);
}

#block-thermometer, #block-humidity, #block-pressure {
    background: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 300px;
}

#thermometer-container, #droplet-humidity, #droplet-pressure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#temperature-icon {
    transition: color 0.2s ease-in-out;
    animation: bounce 1.5s infinite;
    font-size: 8rem;
    color: green;
}

/* Humidity Icon */
#droplet-humidity {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#humidity-icon {
    transition: color 0.2s ease-in-out;
    font-size: 8rem;
    color: lightblue;
    animation: bounce 1.5s infinite;
}

#humidity-fill {
    position: absolute;
    width: 50px;
    height: 0%;
    border-radius: 50%;
    transition: height 0.5s ease-in-out, background 0.5s ease-in-out;
    background: linear-gradient(to top, #007bff, #00c6ff);
}

#pressure-icon {
    transition: color 0.2s ease-in-out;
    font-size: 8rem;
    color: lightblue;
    animation: bounce 1.5s infinite;
}


/* Bounce animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
        align-items: center;
    }
}

:root {
    --favicon-color: red; /* Default color */

}
.light-theme{
    --bg-color: white;
    --text-color: black;
    --card-bg: white;
    --card-text: black;
    --card-shadow: rgba(0, 0, 0, 0.1);
}
.dark-theme {
   --bg-color: #212529;
    --text-color: white;
    --card-bg: #1e1e1e;
    --card-text: white;
    --card-shadow: rgba(255, 255, 255, 0.1);
}

link[rel="icon"] {
    filter: invert(33%) sepia(95%) saturate(749%) hue-rotate(357deg); /* Adjust color */
}