body {
    background-color: #121212;
    color: white;
}

.card {
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
}

.btn-primary {
    background-color: #1e88e5;
    border: none;
}

.btn-primary:hover {
    background-color: #1565c0;
}

.btn-danger {
    background-color: #e53935;
    border: none;
}

.btn-danger:hover {
    background-color: #c62828;
}

a {
    text-decoration: none;
}

.alert {
    border-radius: 10px;
}

.card {
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 0 15px rgb(137, 255, 0), 0 0 5px rgba(20, 143, 0, 0.76);
}